<nav class="navbar">
  <div class="container">
    <a href="/index.html" class="logo">WattSun Solar</a>
    <ul class="nav-links">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/solutions.html">Solutions</a></li>
      <li><a href="/shop.html">Shop</a></li>
      <li><a href="/financing.html">Financing</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/contact.html">Contact</a></li>
      <li><a href="/cart.html">Cart</a></li>
    </ul>
  </div>
  
</nav>